<!DOCTYPE html>
<html>
    <head>
        <title>Jalluindeksi</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <h1>Jallun hinta on tällä hetkellä:</h1>
        <h1>{{hinta}} euroa</h1>

        <br />
        <h3>Historiallinen data</h3>
        <p>
            Tietokantaan kirjataan jallun hinta korkeintaan kerran päivässä, kun
            sivustolla vieraillaan
        </p>
        <table class="table">
            <tr>
                {% for key, value in prices.0.items() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for dict_item in prices %}
            <tr>
                {% for key, value in dict_item.items() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <br />
        <a href="https://www.cs.helsinki.fi/u/tonylam/">tony lam</a>
    </body>
</html>
